mando
oauth2client
google-api-python-client

# Clone and install the runner package from:
#  https://github.com/brspurri/google-genomics-pipeline-runner.git
# I will make it available on PiPy shortly.
google-genomics-pipeline-runner